<!doctype html>
<html>
 <head>
   <meta charset="utf-8" />
   <title>Login Page</title>
 </head>
 <body>

   <h1>Login To Access Top Secrets:</h1>
   <form action="/login" method="post">
      <input type="text" name="username" placeholder="Username" />
      <input type="password" name="password" placeholder="Password" />
      <button type="submit">Submit</button>
   </form>

{{#error}}
   <p>{{error}}</p>
{{/error}}

 </body>
</html>
