<!doctype html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>User Page!</title>
 </head>
 <body>
  <h1>Welcome, {{username}}!</h1>
  <p>Congratulations, the secrets are within you if you know where to look.</p>
 </body>
</html>
